/* Defining default font family */

* {
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
    letter-spacing: 0.1em;
}


/* Home Styles */

#home-section {
    width: 100%;
    height: 960px;
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url('images/bg/bg\ image\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.navbar {
    font-weight: 700;
    width: 100%;
    background: rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand {
    font-size: 24px;
    margin-right: 10rem;
}

.navbar a {
    text-transform: uppercase;
    color: white !important;
}

.nav-link {
    margin-right: 2rem;
    font-size: 12px;
}

.main-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-play {
    width: 260px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    font-weight: 700;
}

.home-section__description {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

.home-section__description h1 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 72px;
    font-weight: 700;
    line-height: 83px;
}

.home-section__description h3 {
    font-weight: lighter;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.home-section__description__items {
    margin-bottom: 4rem;
    text-align: center;
}

.home-section__bottom h6 {
    position: absolute;
    bottom: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.svg-arrow {
    position: absolute;
    bottom: 3rem;
    left: 0;
    fill: none;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.svg-arrow:hover {
    fill: white;
}


/* Items Styles */

#items-section {
    width: 100%;
    height: 1051px;
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url('images/bg/bg\ image\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.items-padding {
    padding-top: 15rem;
}

.items-section__description h5 {
    font-size: 1.5rem;
}

.items-section__description h1 {
    font-size: 3.5rem;
}

.items-carousel {
    position: relative;
}

.carousel-control-prev-icon {
    position: absolute;
    left: -3rem;
    background-image: url(images/svg/switch.svg);
}

.carousel-control-next,
.carousel-control-prev {
    opacity: unset;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    background-image: url(images/svg/switch\ fill.svg);
}

.carousel-control-next-icon {
    position: absolute;
    right: -3rem;
    background-image: url(images/svg/switch.svg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.carousel-indicators li {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    opacity: unset;
    border: 2px solid white;
    background-color: transparent;
    margin-right: 2rem;
}

.carousel-indicators .active {
    background-clip: unset;
    background-color: white;
}


/* Features Styles */

#features-section {
    margin-top: -5px;
    height: 920px;
    width: 100%;
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url(images/bg/bg\ image\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.features-container {
    width: 45%;
    float: right;
    margin-top: 12rem;
}

.features-container h3 {
    font-size: 1.5rem;
}

.features-container h1 {
    font-size: 3.5rem;
}

.features-section__timeline h3 {
    color: #FFB548;
}

.features-section__timeline p {
    width: 65%;
}

ul.features-section__timeline {
    list-style-type: none;
    position: relative;
}

ul.features-section__timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 8.2px;
    width: 2px;
    height: 50%;
    top: 0.95rem;
    z-index: 5;
}

ul.features-section__timeline>li {
    margin: 20px 0;
    margin-bottom: 5rem;
    padding-left: 20px;
}

ul.features-section__timeline>li:before {
    content: ' ';
    border: 2px solid white;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 1.3px;
    width: 16px;
    height: 16px;
    z-index: 5;
}

li.timeline-is-active::before {
    background-color: white !important;
}


/* System Requirements Styles */

#requirements-section {
    margin-top: -1rem;
    height: 1000px;
    width: 100%;
    background-image: radial-gradient(43.26% 45% at 57.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url(images/bg/bg\ image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.requirements-container {
    height: 85%;
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.requirements-container h3 {
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
}

.requirements-container h1 {
    font-size: 3.5rem;
    width: 50%;
}

.row-container {
    margin-top: 8rem;
    width: 50%;
}

.col-sm {
    border: 1px solid #363636;
    padding: 1rem;
}

.requirements-section__title {
    font-size: 1.5rem;
    color: #FFB548;
}


/* Review Styles */

#review-section {
    margin-top: -0.5rem;
    height: auto;
    width: 100%;
    background: url(images/bg/bg\ image\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.review-section__flex {
    height: 100%;
}

.review-section__flex__items {
    width: 50%;
}

.review-section__score h1 {
    font-size: 3.5rem;
}

.review-section__score h3 {
    font-size: 1.1rem;
    width: 70%;
}

.btn-see-more {
    font-weight: bold;
    width: 260px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
}

.review-card {
    position: relative;
    height: auto;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.review-card__image {
    width: 65px;
    height: 65px;
    z-index: 1;
    background-color: white;
}

.review-card__image-background {
    background-color: #FFB548;
    height: 68px;
    width: 65px;
    position: absolute;
    border-radius: 50%;
    left: 1.5rem;
}

.review-card-twitter {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
}

.review-card__name {
    color: #FFB548;
    font-size: 1.8rem;
    line-height: 1rem;
}

.review-card__occupation {
    opacity: 50%;
    font-size: 1.3rem;
}

.review-card__quotes {
    font-size: 1.1rem;
}

.review-card__date {
    opacity: 50%;
    font-size: 1rem;
}

.review-card-margin {
    margin-left: 6rem;
}

.review-card-margin:nth-child(2) {
    margin-left: 0;
    margin-right: 8rem;
}


/* Subscription Styles */

#subscription-section {
    background-color: #080A0B;
    height: 1000px;
    color: white;
    position: relative;
    margin-top: -1rem;
}

.subscription-image {
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(images/assets/image.png);
    background-position: center;
    width: 445.47px;
    height: 694.41px;
    background-repeat: no-repeat;
}

.subscription-flex {
    position: absolute;
    top: 20%;
}

.subscription-container {
    width: 80%;
    height: 100%;
    position: relative;
}

.subscription-items {
    width: 50%;
}

.btn-subscribe {
    color: black;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    width: 100%;
    font-weight: bold;
}

.form-email,
.form-email:focus {
    background: rgba(255, 255, 255, 0.08);
    color: #FFB548;
    box-shadow: none;
    border: none;
}

.subscription-items h2 {
    font-weight: bold;
}

.subscription-items h3 {
    font-size: 1.3rem;
}

.subscription-items p {
    font-size: 1rem;
}


/* Footer Styles */

footer {
    background-color: #080A0B;
    color: white;
    height: auto;
    position: relative;
}

.footer-container {
    width: 80%;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-right: 2.5rem;
    text-transform: uppercase;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: white;
}

svg {
    fill: white;
}

svg:hover {
    cursor: pointer;
}

.footer-facebook:hover {
    fill: #3b5998;
}

.footer-twitter:hover {
    fill: #00acee;
}

.footer-youtube:hover {
    fill: red;
}

.footer-twitch:hover {
    fill: #6441a5;
}

footer hr {
    background-color: white;
}

.footer-copyright {
    opacity: 0.5;
}


/* Responsive */

@media only screen and (max-width: 1150px) {
    .navbar-brand {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .home-section__description h1 {
        font-size: 2.5rem;
    }
    .features-container {
        width: 100%;
        float: none;
        position: static;
        margin-top: 0;
        text-align: center;
    }
    .features-section__timeline p {
        text-align: center;
        width: 100%;
    }
    ul.features-section__timeline:before {
        left: 2rem;
        height: 45.5%;
    }
    ul.features-section__timeline>li:before {
        left: 1.6rem;
    }
    .requirements-container {
        height: 100%;
        position: relative;
    }
    .requirements-container h1 {
        position: static;
        width: 100%;
        font-size: 2rem;
    }
    .requirements-container h3 {
        position: static;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .carousel-indicators li {
        margin-right: 1rem;
    }
    .review-section__flex {
        display: block !important;
        padding: 10rem 0;
    }
    .review-section__flex__items {
        width: 100%;
    }
    .btn-see-more {
        margin-bottom: 2rem;
    }
    .review-card-margin {
        margin-left: 0;
    }
    .review-card-margin:nth-child(2) {
        margin-right: 0;
    }
    .review-card__name {
        line-height: 2rem;
    }
    .review-card-twitter {
        top: 2.5rem;
    }
    .review-section__score {
        text-align: center;
    }
    .review-section__score h3 {
        width: 100%;
    }
    .row-container {
        width: 100%;
        margin-top: 2rem;
    }
    .subscription-flex {
        flex-direction: column !important;
    }
    .subscription-items {
        height: 50vh;
        width: 100%;
    }
    .subscription-btn-container {
        display: flex;
        flex-direction: column;
    }
    .subscription-btn-items {
        width: 100%;
    }
    .footer-flex {
        padding-top: 2rem;
        flex-direction: column;
    }
    .footer-flex ul li,
    .footer-services-flex ul li {
        margin-bottom: 1rem;
    }
    .footer-services-flex {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 652px) {
    ul.features-section__timeline:before {
        height: 50%;
    }
}

@media only screen and (max-width: 360px) {
    ul.features-section__timeline:before {
        height: 54%;
    }
}

@media only screen and (max-width: 320px) {
    ul.features-section__timeline:before {
        height: 57%;
    }
}

@media only screen and (max-width: 280px) {
    ul.features-section__timeline:before {
        height: 60%;
    }
}